apiVersion: v1
kind: Service
metadata:
  name: {{ include "bearer-token-service.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "bearer-token-service.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
  selector:
    {{- include "bearer-token-service.selectorLabels" . | nindent 4 }}
